In [7]:
import pandas as pd

df = pd.read_csv("C:/Users/HP/Downloads/FoodBalanceSheets_E_Africa_NOFLAG(1).csv", encoding = "latin-1")

In [10]:
df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

In [12]:
df.columns

Index(['Area Code', 'Area', 'Item Code', 'Item', 'Element Code', 'Element',
       'Unit', 'Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'],
      dtype='object')

In [15]:
# What is the total number of unique countries in the dataset?
df.Area.nunique()

49

In [16]:
# How would you check for the number of rows and columns in a 
#pandas DataFrame named df?
df.shape

(60943, 12)

In [55]:
#Perform a groupby operation on â€˜Elementâ€™.  What year has the highest sum of Stock Variation?

In [56]:
df.groupby("Element")['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_11828\1446780555.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby("Element")['Y2014', 'Y2015', 'Y2016', 'Y2017', 'Y2018'].sum()

,Y2014,Y2015,Y2016,Y2017,Y2018
Element,,,,,
Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10,2161192.10
Export Quantity,150020.64,157614.47,151920.46,182338.80,181594.80
Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84,10258.69
Feed,216927.89,225050.22,228958.65,223705.68,233489.68
Food,1212332.49,1232361.10,1247022.17,1258888.28,1303841.28
Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00,455261.00
Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04,49056.85
Import Quantity,274144.48,267018.46,286582.78,294559.09,287997.09
Losses,153223.00,155439.00,157787.00,160614.00,163902.00
Other uses (non-food),78718.13,66254.41,69563.68,91645.97,91300.97
Processing,282923.00,287929.00,280631.00,292836.00,308429.00
Production,1931287.75,1947019.39,1943537.15,2030056.89,2075072.89
Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45,11833.56
Residuals,30149.00,30045.00,37224.00,35500.00,34864.00
Seed,21922.92,23976.82,23389.20,24870.14,25263.14
Stock Variation,58749.83,34910.99,33140.12,54316.91,20577.91
Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00,1140605.00
Tourist consumption,416.00,349.00,89.00,91.00,90.00

In [ ]:
# Consider the following list of tuples

In [24]:
y = [(2, 4), (7, 8), (1, 5, 9)]

In [25]:
y[1]

(7, 8)

In [26]:
y[1][-1]

8

In [27]:
y[1][1]

8

In [ ]:
# What is the total number and percentage of missing data in 2014 to 3 decimal places?

In [30]:
df.Y2014.isnull().sum()

1589

In [33]:
df.Y2014.isnull().sum()/df.shape[0]*100

2.6073544131401474

In [ ]:
# What is the total Protein supply quantity in Madagascar in 2015?

In [41]:
G=df.groupby(['Element','Area'])['Y2015'].sum()

In [58]:
G.index.get_level_values(0).unique()

Index(['Domestic supply quantity', 'Export Quantity',
       'Fat supply quantity (g/capita/day)', 'Feed', 'Food',
       'Food supply (kcal/capita/day)', 'Food supply quantity (kg/capita/yr)',
       'Import Quantity', 'Losses', 'Other uses (non-food)', 'Processing',
       'Production', 'Protein supply quantity (g/capita/day)', 'Residuals',
       'Seed', 'Stock Variation', 'Total Population - Both sexes',
       'Tourist consumption'],
      dtype='object', name='Element')

In [48]:
G.index.get_level_values(0).unique()

Index(['Domestic supply quantity', 'Export Quantity',
       'Fat supply quantity (g/capita/day)', 'Feed', 'Food',
       'Food supply (kcal/capita/day)', 'Food supply quantity (kg/capita/yr)',
       'Import Quantity', 'Losses', 'Other uses (non-food)', 'Processing',
       'Production', 'Protein supply quantity (g/capita/day)', 'Residuals',
       'Seed', 'Stock Variation', 'Total Population - Both sexes',
       'Tourist consumption'],
      dtype='object', name='Element')

In [59]:
G['Protein supply quantity (g/capita/day)']

Area
Algeria                        377.37
Angola                         214.15
Benin                          271.97
Botswana                       278.52
Burkina Faso                   317.99
Cabo Verde                     278.41
Cameroon                       291.53
Central African Republic       173.70
Chad                           252.28
Congo                          227.08
CÃ´te d'Ivoire                  232.59
Djibouti                       269.59
Egypt                          394.87
Eswatini                       237.71
Ethiopia                       259.82
Gabon                          345.41
Gambia                         257.67
Ghana                          241.71
Guinea                         227.46
Guinea-Bissau                  168.61
Kenya                          251.73
Lesotho                        254.50
Liberia                        159.43
Madagascar                     173.05
Malawi                         272.49
Mali                           319.85
Mauritania                     329.77
Mauritius                      348.06
Morocco                        398.74
Mozambique                     178.39
Namibia                        253.89
Niger                          316.78
Nigeria                        230.08
Rwanda                         238.70
Sao Tome and Principe          211.04
Senegal                        237.77
Sierra Leone                   203.57
South Africa                   345.95
Sudan                          295.08
Togo                           231.59
Tunisia                        401.32
Uganda                         201.20
United Republic of Tanzania    246.35
Zambia                         240.87
Zimbabwe                       175.31
Name: Y2015, dtype: float64

In [ ]:
# Given the following python code, what would the output of the code give?

In [61]:
my_tuppy = (1,2,5,8)

my_tuppy[2] = 6

TypeError: 'tuple' object does not support item assignment

In [53]:
# If you have the following list
lst = [[35, 'Portugal', 94], [33, 'Argentina', 93], [30 , 'Brazil', 92]]

col = ['Age','Nationality','Overall']

In [54]:
pd.DataFrame(lst,columns=col, index=[1,2,3])

   Age Nationality  Overall
1   35    Portugal       94
2   33   Argentina       93
3   30      Brazil       92

In [ ]:
# Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  
# Which of these Areas had the highest sum in 2017?

In [62]:
MM = df.groupby('Area')['Y2017'].sum()

In [63]:
MM[['Ethiopia', 'Nigeria', 'Kenya', 'Egypt', 'South Africa']]

Area
Ethiopia         448683.76
Nigeria         1483268.23
Kenya            264660.66
Egypt            866379.92
South Africa     517590.54
Name: Y2017, dtype: float64

In [65]:
# What is the mean and standard deviation across the whole dataset 
# for the year 2017 to 2 decimal places?
df.Y2017.mean()

140.917764860268

In [66]:
df.Y2017.std()

1671.8623590572788

Question
Answer the following questions based on the African food production dataset provided by the FAO website already provided

What is the total sum of Wine produced in 2015 and 2018 respectively?

Hint:

Perform a groupby sum aggregation on â€˜Itemâ€™

In [67]:
df.groupby('Item')['Y2015', 'Y2018'].sum()

C:\Users\HP\AppData\Local\Temp\ipykernel_11828\1099779414.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df.groupby('Item')['Y2015', 'Y2018'].sum()

                         Y2015      Y2018
Item
Alcohol, Non-Food      2180.00    2293.00
Alcoholic Beverages   98783.72   97847.27
Animal Products       11811.73   11578.61
Animal fats          200675.72  269648.27
Apples and products   10559.15    9640.51
...                        ...        ...
Vegetables, Other    158104.08  163987.21
Vegetal Products     107064.17  107775.39
Wheat and products   234710.51  242645.19
Wine                   4251.81    4039.32
Yams                 203151.78  221272.09

[119 rows x 2 columns]

In [ ]:
# Select columns â€˜Y2017â€™ and â€˜Areaâ€™, Perform a groupby operation on â€˜Areaâ€™.  
# Which of these Areas had the 7th lowest sum in 2017?

In [71]:
MM.sort_values()[['Ghana', 'Comoros', 'Seychelles', 'Cabo Verde', 'Guinea-Bissau']]

Area
Ghana            337599.06
Comoros              59.84
Seychelles          442.34
Cabo Verde        14650.74
Guinea-Bissau     19102.77
Name: Y2017, dtype: float64

In [69]:
MM.sort_values()

Area
Sudan (former)                       0.00
Ethiopia PDR                         0.00
Comoros                             59.84
Seychelles                         442.34
Sao Tome and Principe            12662.63
Cabo Verde                       14650.74
Guinea-Bissau                    19102.77
Lesotho                          21267.96
Botswana                         22101.30
Djibouti                         22729.91
Gambia                           23154.18
Gabon                            27979.64
Liberia                          29342.20
Namibia                          29874.89
Central African Republic         29937.00
Congo                            41181.68
Togo                             49841.88
Mauritius                        51114.83
Eswatini                         54343.33
Sierra Leone                     55311.33
Chad                             71594.68
Rwanda                           73663.69
Zimbabwe                         75919.34
Senegal                          95681.15
Guinea                           98138.87
Burkina Faso                    101855.07
Zambia                          103223.77
Tunisia                         124167.20
Benin                           124771.22
Niger                           126707.58
Madagascar                      131197.73
Mali                            149928.33
Mauritania                      156665.46
Mozambique                      161407.98
Malawi                          181098.71
Uganda                          213950.38
CÃ´te d'Ivoire                   224599.01
Angola                          229159.57
Cameroon                        232030.43
Sudan                           239931.92
Kenya                           264660.66
United Republic of Tanzania     322616.85
Algeria                         325644.27
Ghana                           337599.06
Morocco                         388495.36
Ethiopia                        448683.76
South Africa                    517590.54
Egypt                           866379.92
Nigeria                        1483268.23
Name: Y2017, dtype: float64

In [ ]:
# Which year had the least correlation with â€˜Element Codeâ€™?

In [70]:
df.corr()

,Area Code,Item Code,Element Code,Y2014,Y2015,Y2016,Y2017,Y2018
Area Code,1.000000,-0.005159,-0.000209,0.006164,0.005472,0.005247,0.005006,0.005665
Item Code,-0.005159,1.000000,-0.024683,0.021722,0.020857,0.020109,0.021494,0.021314
Element Code,-0.000209,-0.024683,1.000000,0.024457,0.023889,0.023444,0.024254,0.024279
Y2014,0.006164,0.021722,0.024457,1.000000,0.994647,0.996081,0.995230,0.994872
Y2015,0.005472,0.020857,0.023889,0.994647,1.000000,0.995739,0.988048,0.988208
Y2016,0.005247,0.020109,0.023444,0.996081,0.995739,1.000000,0.992785,0.992757
Y2017,0.005006,0.021494,0.024254,0.995230,0.988048,0.992785,1.000000,0.998103
Y2018,0.005665,0.021314,0.024279,0.994872,0.988208,0.992757,0.998103,1.000000

Question
Given the following numpy array 

array  = ([[94, 89, 63],[93, 92, 48], [92, 94, 56]])

How would you select  the elements in bold and italics from the array?

In [72]:
array  = ([[94, 89, 63],

             [93, 92, 48],

             [92, 94, 56]])

In [81]:
array[ :1,1:]

TypeError: list indices must be integers or slices, not tuple